@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --primary-color: #34c94b;
  --white-color: #ffffff;
  --black-color: #121212;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif !important;
}

body {
  background-color: var(--black-color);
  color: var(--white-color);
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
}

hr {
  border: 1px solid var(--primary-color);
}

.swiper-slide {
  width: auto !important;
}
#root {
  width: 100%;
}
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--primary-color);
  outline: 1px solid rgb(131, 131, 131);
}